﻿body {
    font-size : 12px;
    background-color : white;
    font-family : "Trebuchet MS",sans-serif;
}

.icon-logon {
            background-image: url("../image/icon/logon.png") !important;
            height: 16px !important;
            width: 16px !important;
        }

.icon-forgot {
            background-image: url("../image/icon/forgot.png") !important;
            height: 16px !important;
            width: 16px !important;
        }

#pnlTitlePanel {
    background-color : silver;
    /*padding-left     : 1px;
    padding-right     : 1px;
    padding-bottom     : 1px;*/
}
    
#pnlSettings {
    /*padding : 2px;
    border-bottom : 1px solid #3B3B3B;*/
}
    
#pnlSettings ul li {
    display      : inline;
    color        : #fff;
    margin-right : 8px;
    line-height  : 2px;
    /*padding      : 1px;
    padding-left : 19px;*/
}

.x-column-header-inner {
    text-align:center;
 }

.x-menu.x-my-menu .x-menu-item-active
{
    background-image: none;
    background-color: Silver;
}    
#pnlSettings ul li a, #pnlSettings ul li a:link {
    color : #fff;
    text-decoration : none;
}
    
#pnlSettings ul li a:hover {
    text-decoration : underline;
}
    
#pageTitle {
    text-align  : center;
    color       : #fff;

    background-color : silver;
    margin-top  : 5px;
}
       
#TabPanel1 ul.x-tab-strip-top {
    background-image : none !important;
}
  
.x-panel-dd-spacer {
    border : 2px dashed;
}

.align-center {
    text-align:center;
}
.icon-combo-item {
    background-repeat   : no-repeat !important;
    background-position : 3px 50% !important;
    padding-left        : 24px !important;
}
.icon-exclamation {
    padding-left: 25px !important;
    background: url(/icons/exclamation-png/ext.axd) no-repeat 3px 0px !important;
}
        
 .icon-accept {
    padding-left: 25px !important;
    background: url(/icons/accept-png/ext.axd) no-repeat 3px 0px !important;
}

 .pnHeader {
    width:100%;
    height:100%;
}
.complete .x-grid-cell-inner {
        text-decoration : underline;
        color : #010e30;
}
.search-item-driver {
    font          : normal 11px tahoma, arial, helvetica, sans-serif;
    padding       : 3px 10px 3px 10px;
    border        : 1px solid #fff;
    border-bottom : 1px solid #eeeeee;
    white-space   : normal;
    color         : #555;
}
        
.search-item-driver h3 {
    display     : block;
    font        : inherit;
    font-weight : bold;
    color       : #222;
    margin      :0px;
}

.search-item-driver h3 span {
    float       : right;
    font-weight : normal;
    margin      : 0 0 5px 5px;
    width       : 200px;
    display     : block;
    clear       : none;
} 

.search-item {
    font          : normal 11px tahoma, arial, helvetica, sans-serif;
    padding       : 3px 10px 3px 10px;
    border        : 1px solid #fff;
    border-bottom : 1px solid #eeeeee;
    white-space   : normal;
    color         : #555;
}
        
.search-item h3 {
    display     : block;
    font        : inherit;
    font-weight : bold;
    color       : #222;
    margin      :0px;
}

.search-item h3 span {
    float       : right;
    font-weight : normal;
    margin      : 0 0 5px 5px;
    width       : 120px;
    display     : block;
    clear       : none;
} 
        
p { width: 650px; }
        
.ext-ie .x-form-text { position : static !important; }


.x-btnmenu {
    margin-left:10px;
    margin-bottom:10px;
    margin-top:4px;
}

.x-btnmenuPar {
    margin-left:10px;
    margin-bottom:10px;
    margin-top:2px;
}

.field-border {
    border-left:none;
    border-right:none;
    border-top:none;
}

.floater{
    float:left;
}

.Backgorund {
    background-color: #d8d7d7; 
    border: 0px solid white; 
    border-top: none;
    border-bottom: none;
}

 .x-grid-row-summary{
    background-color: ThreeDLightShadow;
}

 .x-grid-body .x-grid-cell-Cost {
    background-color : #f1f2f4;
}
         
.x-grid-row-summary .x-grid-cell-Cost .x-grid-cell-inner{
    background-color : #e1e2e4;
}    

.task .x-grid-cell-inner {
    /*padding-left: 15px;*/
}

.x-grid-row-summary .x-grid-cell-inner {
    font-weight: bold;
    font-size: 11px;
    background-color : #f1f2f4;
}
.x-text-login {
    font-size:16px;
}
.x-text-input-login {
    font-size:24px;
    color:GrayText  ;
}

.x-text-combo-login {
    font-size:16px;
    color:GrayText;
}

.x-text-input-focus {
    color:red;
    height:50px;
}

.x-text-input-height {
    height:45px;
}
.x-text-combo-height {
    height:25px;
}
.sepColumn
{
    background-color:Silver !Important;   
}

