﻿.x-form-text {
color : black;
font-size:15px;
padding: 1px 30px 2px 20px;
background : 0 0 repeat-x white;
border-width : 1px;
border-style : solid;
border-color : #b5b8c8;
background-image : url("/extjs/resources/ext_theme_gray/images/form/text-bg-gif/ext.axd");
height : 22px;
line-height : 17px;
}