.icon-activities_48
{
	background-image: url(/_theme/blue/icon/activities_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-activities_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-addnew_48
{
	background-image: url(/_theme/blue/icon/addnew_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-addnew_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-aggregation_48
{
	background-image: url(/_theme/blue/icon/aggregation_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-aggregation_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-allocationdrivercost_48
{
	background-image: url(/_theme/blue/icon/allocationdrivercost_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-allocationdrivercost_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-allocationdriverfield_48
{
	background-image: url(/_theme/blue/icon/allocationdriverfield_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-allocationdriverfield_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-allocation_48
{
	background-image: url(/_theme/blue/icon/allocation_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-allocation_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-basecost_48
{
	background-image: url(/_theme/blue/icon/basecost_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-basecost_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-basecostrates_48
{
	background-image: url(/_theme/blue/icon/basecostrates_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-basecostrates_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-clientaccounts_48
{
	background-image: url(/_theme/blue/icon/clientaccounts_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-clientaccounts_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-clientcostcenters_48
{
	background-image: url(/_theme/blue/icon/clientcostcenters_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-clientcostcenters_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-clientcostdata_48
{
	background-image: url(/_theme/blue/icon/clientcostdata_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-clientcostdata_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-clientcostfieldclient_48
{
	background-image: url(/_theme/blue/icon/clientcostfieldclient_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-clientcostfieldclient_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-clientcostfieldziff_48
{
	background-image: url(/_theme/blue/icon/clientcostfieldziff_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-clientcostfieldziff_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-clientreferences_48
{
	background-image: url(/_theme/blue/icon/clientreferences_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-clientreferences_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-collapse_48
{
	background-image: url(/_theme/blue/icon/collapse_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-collapse_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-coststructure_48
{
	background-image: url(/_theme/blue/icon/coststructure_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-coststructure_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-currency_48
{
	background-image: url(/_theme/blue/icon/currency_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-currency_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-delete_48
{
	background-image: url(/_theme/blue/icon/delete_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-delete_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-direct_48
{
	background-image: url(/_theme/blue/icon/direct_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-direct_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-driverprofiles_48
{
	background-image: url(/_theme/blue/icon/driverprofiles_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-driverprofiles_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-economicassumptions_48
{
	background-image: url(/_theme/blue/icon/economicassumptions_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-economicassumptions_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-economicdriversdata_48
{
	background-image: url(/_theme/blue/icon/economicdriversdata_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-economicdriversdata_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-economicdrivers_48
{
	background-image: url(/_theme/blue/icon/economicdrivers_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-economicdrivers_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-economic_48
{
	background-image: url(/_theme/blue/icon/economic_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-economic_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-edit_48
{
	background-image: url(/_theme/blue/icon/edit_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-edit_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-expand_48
{
	background-image: url(/_theme/blue/icon/expand_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-expand_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-export_48
{
	background-image: url(/_theme/blue/icon/export_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-export_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-fields_48
{
	background-image: url(/_theme/blue/icon/fields_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-fields_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-help_48
{
	background-image: url(/_theme/blue/icon/help_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-help_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-hierarchy_48
{
	background-image: url(/_theme/blue/icon/hierarchy_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-hierarchy_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-import_48
{
	background-image: url(/_theme/blue/icon/import_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-import_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-kpitarget_48
{
	background-image: url(/_theme/blue/icon/kpitarget_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-kpitarget_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-listallocationdrivers_48
{
	background-image: url(/_theme/blue/icon/listallocationdrivers_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-listallocationdrivers_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-listpeercriteria_48
{
	background-image: url(/_theme/blue/icon/listpeercriteria_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-listpeercriteria_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-mapping_48
{
	background-image: url(/_theme/blue/icon/mapping_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-mapping_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-modelselection_48
{
	background-image: url(/_theme/blue/icon/modelselection_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-modelselection_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-models_48
{
	background-image: url(/_theme/blue/icon/models_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-models_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-object_48
{
	background-image: url(/_theme/blue/icon/object_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-object_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-open_48
{
	background-image: url(/_theme/blue/icon/open_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-open_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-operations_48
{
	background-image: url(/_theme/blue/icon/operations_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-operations_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-opex_48
{
	background-image: url(/_theme/blue/icon/opex_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-opex_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-parameters_48
{
	background-image: url(/_theme/blue/icon/parameters_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-parameters_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-peercriteriadata_48
{
	background-image: url(/_theme/blue/icon/peercriteriadata_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-peercriteriadata_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-pricescomposition_48
{
	background-image: url(/_theme/blue/icon/pricescomposition_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-pricescomposition_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-pricesforecast_48
{
	background-image: url(/_theme/blue/icon/pricesforecast_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-pricesforecast_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-projects_48
{
	background-image: url(/_theme/blue/icon/projects_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-projects_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-reports_48
{
	background-image: url(/_theme/blue/icon/reports_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-reports_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-resources_48
{
	background-image: url(/_theme/blue/icon/resources_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-resources_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-save_48
{
	background-image: url(/_theme/blue/icon/save_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-save_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-search_48
{
	background-image: url(/_theme/blue/icon/search_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-search_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-share_48
{
	background-image: url(/_theme/blue/icon/share_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-share_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-technicalassumptions_48
{
	background-image: url(/_theme/blue/icon/technicalassumptions_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-technicalassumptions_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-technicaldriversdata_48
{
	background-image: url(/_theme/blue/icon/technicaldriversdata_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-technicaldriversdata_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-technicaldrivers_48
{
	background-image: url(/_theme/blue/icon/technicaldrivers_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-technicaldrivers_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-technical_48
{
	background-image: url(/_theme/blue/icon/technical_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-technical_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-typeofprices_48
{
	background-image: url(/_theme/blue/icon/typeofprices_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-typeofprices_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-user_48
{
	background-image: url(/_theme/blue/icon/user_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-user_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-ziffbasecost_48
{
	background-image: url(/_theme/blue/icon/ziffbasecost_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-ziffbasecost_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-ziffeconomicanalysis_48
{
	background-image: url(/_theme/blue/icon/ziffeconomicanalysis_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-ziffeconomicanalysis_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-ziffreferences_48
{
	background-image: url(/_theme/blue/icon/ziffreferences_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-ziffreferences_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-ziffstructure_48
{
	background-image: url(/_theme/blue/icon/ziffstructure_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-ziffstructure_48 .x-btn-inner
{
	font-size: 12px !important;
}
.icon-zifftechnicalanalysis_48
{
	background-image: url(/_theme/blue/icon/zifftechnicalanalysis_48.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top 40px !important;
	height: 100px !important;
	width: 175px !important;
	margin: 5px 10px 5px 0px !important;
}
.icon-zifftechnicalanalysis_48 .x-btn-inner
{
	font-size: 12px !important;
}