#HeadPanel
{
    width: 100%;
    height: 100px;
    background-image: url('/_theme/blue/image/banner.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
#HeadLeft
{
    float: left;
    width: 256px;
    height: 100px;
    background-image: url('/image/cpm_logo.png');
}
#HeadRight
{
    float: right;
    width: 256px;
    height: 100px;
    background-image: url('/image/solomon_logo.png');
}
#HeadCenter
{
    margin: 0 auto;
    width: 100%;
    text-align: left;
    line-height: 100px;
}
.PopupFormColumnPanel
{
    margin: 0 10px 0 10px;
}
.PopupFormColumnPanelGrid
{
    margin: 10px 10px 0 10px;
    padding: 10px;
}
.PopupFormField
{
    margin: 5px 0 5px 0;
}
.x-form-readonly .x-form-field
{
    color:#777777 !important;
}
.x-form-readonly .x-form-item-label
{
    color:#777777 !important;
}
.x-panel-modelname
{
    background-color: transparent;
}
.x-text-modelname
{
    font-size: 20px;
    color: #ffffff;
}
.x-text-modelselect
{
    font-size: 12px;
    padding: 5px 0px 5px 10px;
}
.reportheader .x-panel-header
{
    background: #dddddd;
}
.reportheader .x-panel-header-text-default
{
    color: #555555;
    font-size: 14px;
}
.reportsubheader .x-panel-header
{
    background: #dddddd;
}
.reportsubheader .x-panel-header-text-default
{
    color: #555555;
    font-size: 12px;
}
.WideSeparator
{
    margin: 0px 10px 0px 10px;
}
.x-form-layout-table
{
    border-spacing : 0 0;
}
.buttongroup-border
{
    border: none;
    margin: 0px 0px 5px 0px;
}
.buttongroup-bordertop
{
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 5px 0px 5px 0px;
    padding-top: 10px;
}
.buttongroup-bordertop .x-fieldset-header-text
{
    font-size: 12px;
    font-weight: bold;
    margin: 0px 20px 0px 20px;
}
.my-scale .x-btn-default-large-icon button, .my-scale .x-btn-default-large-icon a, .my-scale .x-btn-default-large-icon .x-btn-inner
{
	height: 100px !important;
	line-height: 100px !important;
	font-size: 16px !important;
}
.my-scale .x-btn-default-large-icon .x-btn-inner
{
	width: 48px !important;
}
.my-scale .x-btn-default-large-icon .x-btn-icon
{
	width: 48px !important;
	height: 100px !important;
}
.my-scale .x-btn-default-large-icon-text-left button, .my-scale .x-btn-default-large-icon-text-left a
{
	height: 100px !important;
}
.my-scale .x-btn-default-large-icon-text-left .x-btn-inner
{
	height: 100px !important;
	line-height: 100px !important;
	padding-top: 92px !important;
}
.my-scale .x-btn-default-large-icon-text-left .x-btn-icon
{
	width: 48px !important;
}
.x-ie6 .my-scale .x-btn-default-large-icon-text-left .x-btn-icon, .x-quirks .my-scale .x-btn-default-large-icon-text-left .x-btn-icon
{
	height: 100px !important;
}
.x-grid-custom .x-column-header-inner 
{
    background-color: #5C6670;
    color:White; font-size:small;
}       


