.menubackground
{
    background: #dddddd !important;
    background-image: none !important;
}
.menu-addnew
{
	background-image: url(/_theme/blue/icon/addnew_32.png) !important;
	background-repeat: no-repeat !important;
	padding-left: 40px !important;
}
.menu-parameters
{
	background-image: url(/_theme/blue/icon/parameters_32.png) !important;
	background-repeat: no-repeat !important;
	padding-left: 40px !important;
}
.menu-allocation
{
	background-image: url(/_theme/blue/icon/allocation_32.png) !important;
	background-repeat: no-repeat !important;
	padding-left: 40px !important;
}
.menu-technical
{
	background-image: url(/_theme/blue/icon/technical_32.png) !important;
	background-repeat: no-repeat !important;
	padding-left: 40px !important;
}
.menu-economic
{
	background-image: url(/_theme/blue/icon/economic_32.png) !important;
	background-repeat: no-repeat !important;
	padding-left: 40px !important;
}
.menu-reports
{
	background-image: url(/_theme/blue/icon/reports_32.png) !important;
	background-repeat: no-repeat !important;
	padding-left: 40px !important;
}
.menu-modelselection
{
	background-image: url(/_theme/blue/icon/modelselection_32.png) !important;
	background-repeat: no-repeat !important;
	padding-left: 40px !important;
}
.menu-MultiFieldsReport
{
	background-image: url(/_theme/blue/icon/opex_32.png) !important;
	background-repeat: no-repeat !important;
	padding-left: 40px !important;
}
