﻿body
{
    background-image: url(/_theme/blue/image/splash.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.x-text-login
{
    font-size: 16px;
}
.x-text-version
{
    font-size: 10px;
    color: GrayText;
    padding: 10px 0 0 25px;
}
.x-text-input-login
{
    font-size: 16px;
    color: GrayText;
    padding: 2px 10px 2px 10px;
}
.x-text-combo-login
{
    font-size: 12px;
    color: GrayText;
    padding: 2px 10px 2px 25px;
}
.forgot-login
{
     color: #222222;
     font-size: 12px;
     padding: 5px 0 5px 0;
}
.button-login
{
    padding: 5px 0 5px 0;
}
.back-login
{
    background-color: transparent;
}