.icon-activities_16
{
	background-image: url(/_theme/blue/icon/activities_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-activities_24
{
	background-image: url(/_theme/blue/icon/activities_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-activities_32
{
	background-image: url(/_theme/blue/icon/activities_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-addnew_16
{
	background-image: url(/_theme/blue/icon/addnew_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-addnew_24
{
	background-image: url(/_theme/blue/icon/addnew_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-addnew_32
{
	background-image: url(/_theme/blue/icon/addnew_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-aggregation_16
{
	background-image: url(/_theme/blue/icon/aggregation_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-aggregation_24
{
	background-image: url(/_theme/blue/icon/aggregation_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-aggregation_32
{
	background-image: url(/_theme/blue/icon/aggregation_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-allocationdrivercost_16
{
	background-image: url(/_theme/blue/icon/allocationdrivercost_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-allocationdrivercost_24
{
	background-image: url(/_theme/blue/icon/allocationdrivercost_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-allocationdrivercost_32
{
	background-image: url(/_theme/blue/icon/allocationdrivercost_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-allocationdriverfield_16
{
	background-image: url(/_theme/blue/icon/allocationdriverfield_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-allocationdriverfield_24
{
	background-image: url(/_theme/blue/icon/allocationdriverfield_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-allocationdriverfield_32
{
	background-image: url(/_theme/blue/icon/allocationdriverfield_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-allocation_16
{
	background-image: url(/_theme/blue/icon/allocation_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-allocation_24
{
	background-image: url(/_theme/blue/icon/allocation_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-allocation_32
{
	background-image: url(/_theme/blue/icon/allocation_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-basecost_16
{
	background-image: url(/_theme/blue/icon/basecost_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-basecost_24
{
	background-image: url(/_theme/blue/icon/basecost_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-basecost_32
{
	background-image: url(/_theme/blue/icon/basecost_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-basecostrates_16
{
	background-image: url(/_theme/blue/icon/basecostrates_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-basecostrates_24
{
	background-image: url(/_theme/blue/icon/basecostrates_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-basecostrates_32
{
	background-image: url(/_theme/blue/icon/basecostrates_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientaccounts_16
{
	background-image: url(/_theme/blue/icon/clientaccounts_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientaccounts_24
{
	background-image: url(/_theme/blue/icon/clientaccounts_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientaccounts_32
{
	background-image: url(/_theme/blue/icon/clientaccounts_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostcenters_16
{
	background-image: url(/_theme/blue/icon/clientcostcenters_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostcenters_24
{
	background-image: url(/_theme/blue/icon/clientcostcenters_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostcenters_32
{
	background-image: url(/_theme/blue/icon/clientcostcenters_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostdata_16
{
	background-image: url(/_theme/blue/icon/clientcostdata_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostdata_24
{
	background-image: url(/_theme/blue/icon/clientcostdata_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostdata_32
{
	background-image: url(/_theme/blue/icon/clientcostdata_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostfieldclient_16
{
	background-image: url(/_theme/blue/icon/clientcostfieldclient_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostfieldclient_24
{
	background-image: url(/_theme/blue/icon/clientcostfieldclient_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostfieldclient_32
{
	background-image: url(/_theme/blue/icon/clientcostfieldclient_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostfieldziff_16
{
	background-image: url(/_theme/blue/icon/clientcostfieldziff_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostfieldziff_24
{
	background-image: url(/_theme/blue/icon/clientcostfieldziff_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientcostfieldziff_32
{
	background-image: url(/_theme/blue/icon/clientcostfieldziff_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientreferences_16
{
	background-image: url(/_theme/blue/icon/clientreferences_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientreferences_24
{
	background-image: url(/_theme/blue/icon/clientreferences_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-clientreferences_32
{
	background-image: url(/_theme/blue/icon/clientreferences_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-collapse_16
{
	background-image: url(/_theme/blue/icon/collapse_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-collapse_24
{
	background-image: url(/_theme/blue/icon/collapse_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-collapse_32
{
	background-image: url(/_theme/blue/icon/collapse_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-coststructure_16
{
	background-image: url(/_theme/blue/icon/coststructure_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-coststructure_24
{
	background-image: url(/_theme/blue/icon/coststructure_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-coststructure_32
{
	background-image: url(/_theme/blue/icon/coststructure_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-currency_16
{
	background-image: url(/_theme/blue/icon/currency_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-currency_24
{
	background-image: url(/_theme/blue/icon/currency_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-currency_32
{
	background-image: url(/_theme/blue/icon/currency_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-delete_16
{
	background-image: url(/_theme/blue/icon/delete_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-delete_24
{
	background-image: url(/_theme/blue/icon/delete_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-delete_32
{
	background-image: url(/_theme/blue/icon/delete_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-direct_16
{
	background-image: url(/_theme/blue/icon/direct_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-direct_24
{
	background-image: url(/_theme/blue/icon/direct_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-direct_32
{
	background-image: url(/_theme/blue/icon/direct_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-driverprofiles_16
{
	background-image: url(/_theme/blue/icon/driverprofiles_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-driverprofiles_24
{
	background-image: url(/_theme/blue/icon/driverprofiles_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-driverprofiles_32
{
	background-image: url(/_theme/blue/icon/driverprofiles_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economicassumptions_16
{
	background-image: url(/_theme/blue/icon/economicassumptions_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economicassumptions_24
{
	background-image: url(/_theme/blue/icon/economicassumptions_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economicassumptions_32
{
	background-image: url(/_theme/blue/icon/economicassumptions_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economicdriversdata_16
{
	background-image: url(/_theme/blue/icon/economicdriversdata_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economicdriversdata_24
{
	background-image: url(/_theme/blue/icon/economicdriversdata_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economicdriversdata_32
{
	background-image: url(/_theme/blue/icon/economicdriversdata_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economicdrivers_16
{
	background-image: url(/_theme/blue/icon/economicdrivers_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economicdrivers_24
{
	background-image: url(/_theme/blue/icon/economicdrivers_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economicdrivers_32
{
	background-image: url(/_theme/blue/icon/economicdrivers_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economic_16
{
	background-image: url(/_theme/blue/icon/economic_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economic_24
{
	background-image: url(/_theme/blue/icon/economic_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-economic_32
{
	background-image: url(/_theme/blue/icon/economic_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-edit_16
{
	background-image: url(/_theme/blue/icon/edit_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-edit_24
{
	background-image: url(/_theme/blue/icon/edit_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-edit_32
{
	background-image: url(/_theme/blue/icon/edit_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-expand_16
{
	background-image: url(/_theme/blue/icon/expand_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-expand_24
{
	background-image: url(/_theme/blue/icon/expand_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-expand_32
{
	background-image: url(/_theme/blue/icon/expand_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-export_16
{
	background-image: url(/_theme/blue/icon/export_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-export_24
{
	background-image: url(/_theme/blue/icon/export_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-export_32
{
	background-image: url(/_theme/blue/icon/export_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-fields_16
{
	background-image: url(/_theme/blue/icon/fields_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-fields_24
{
	background-image: url(/_theme/blue/icon/fields_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-fields_32
{
	background-image: url(/_theme/blue/icon/fields_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-help_16
{
	background-image: url(/_theme/blue/icon/help_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-help_24
{
	background-image: url(/_theme/blue/icon/help_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-help_32
{
	background-image: url(/_theme/blue/icon/help_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-hierarchy_16
{
	background-image: url(/_theme/blue/icon/hierarchy_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-hierarchy_24
{
	background-image: url(/_theme/blue/icon/hierarchy_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-hierarchy_32
{
	background-image: url(/_theme/blue/icon/hierarchy_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-import_16
{
	background-image: url(/_theme/blue/icon/import_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-import_24
{
	background-image: url(/_theme/blue/icon/import_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-import_32
{
	background-image: url(/_theme/blue/icon/import_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-kpitarget_16
{
	background-image: url(/_theme/blue/icon/kpitarget_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-kpitarget_24
{
	background-image: url(/_theme/blue/icon/kpitarget_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-kpitarget_32
{
	background-image: url(/_theme/blue/icon/kpitarget_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-listallocationdrivers_16
{
	background-image: url(/_theme/blue/icon/listallocationdrivers_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-listallocationdrivers_24
{
	background-image: url(/_theme/blue/icon/listallocationdrivers_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-listallocationdrivers_32
{
	background-image: url(/_theme/blue/icon/listallocationdrivers_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-listpeercriteria_16
{
	background-image: url(/_theme/blue/icon/listpeercriteria_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-listpeercriteria_24
{
	background-image: url(/_theme/blue/icon/listpeercriteria_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-listpeercriteria_32
{
	background-image: url(/_theme/blue/icon/listpeercriteria_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-mapping_16
{
	background-image: url(/_theme/blue/icon/mapping_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-mapping_24
{
	background-image: url(/_theme/blue/icon/mapping_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-mapping_32
{
	background-image: url(/_theme/blue/icon/mapping_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-modelselection_16
{
	background-image: url(/_theme/blue/icon/modelselection_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-modelselection_24
{
	background-image: url(/_theme/blue/icon/modelselection_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-modelselection_32
{
	background-image: url(/_theme/blue/icon/modelselection_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-models_16
{
	background-image: url(/_theme/blue/icon/models_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-models_24
{
	background-image: url(/_theme/blue/icon/models_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-models_32
{
	background-image: url(/_theme/blue/icon/models_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-object_16
{
	background-image: url(/_theme/blue/icon/object_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-object_24
{
	background-image: url(/_theme/blue/icon/object_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-object_32
{
	background-image: url(/_theme/blue/icon/object_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-open_16
{
	background-image: url(/_theme/blue/icon/open_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-open_24
{
	background-image: url(/_theme/blue/icon/open_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-open_32
{
	background-image: url(/_theme/blue/icon/open_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-operations_16
{
	background-image: url(/_theme/blue/icon/operations_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-operations_24
{
	background-image: url(/_theme/blue/icon/operations_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-operations_32
{
	background-image: url(/_theme/blue/icon/operations_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-opex_16
{
	background-image: url(/_theme/blue/icon/opex_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-opex_24
{
	background-image: url(/_theme/blue/icon/opex_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-opex_32
{
	background-image: url(/_theme/blue/icon/opex_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-parameters_16
{
	background-image: url(/_theme/blue/icon/parameters_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-parameters_24
{
	background-image: url(/_theme/blue/icon/parameters_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-parameters_32
{
	background-image: url(/_theme/blue/icon/parameters_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-peercriteriadata_16
{
	background-image: url(/_theme/blue/icon/peercriteriadata_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-peercriteriadata_24
{
	background-image: url(/_theme/blue/icon/peercriteriadata_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-peercriteriadata_32
{
	background-image: url(/_theme/blue/icon/peercriteriadata_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-pricescomposition_16
{
	background-image: url(/_theme/blue/icon/pricescomposition_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-pricescomposition_24
{
	background-image: url(/_theme/blue/icon/pricescomposition_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-pricescomposition_32
{
	background-image: url(/_theme/blue/icon/pricescomposition_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-pricesforecast_16
{
	background-image: url(/_theme/blue/icon/pricesforecast_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-pricesforecast_24
{
	background-image: url(/_theme/blue/icon/pricesforecast_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-pricesforecast_32
{
	background-image: url(/_theme/blue/icon/pricesforecast_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-projects_16
{
	background-image: url(/_theme/blue/icon/projects_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-projects_24
{
	background-image: url(/_theme/blue/icon/projects_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-projects_32
{
	background-image: url(/_theme/blue/icon/projects_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-reports_16
{
	background-image: url(/_theme/blue/icon/reports_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-reports_24
{
	background-image: url(/_theme/blue/icon/reports_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-reports_32
{
	background-image: url(/_theme/blue/icon/reports_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-resources_16
{
	background-image: url(/_theme/blue/icon/resources_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-resources_24
{
	background-image: url(/_theme/blue/icon/resources_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-resources_32
{
	background-image: url(/_theme/blue/icon/resources_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-save_16
{
	background-image: url(/_theme/blue/icon/save_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-save_24
{
	background-image: url(/_theme/blue/icon/save_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-save_32
{
	background-image: url(/_theme/blue/icon/save_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-search_16
{
	background-image: url(/_theme/blue/icon/search_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-search_24
{
	background-image: url(/_theme/blue/icon/search_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-search_32
{
	background-image: url(/_theme/blue/icon/search_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-share_16
{
	background-image: url(/_theme/blue/icon/share_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-share_24
{
	background-image: url(/_theme/blue/icon/share_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-share_32
{
	background-image: url(/_theme/blue/icon/share_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technicalassumptions_16
{
	background-image: url(/_theme/blue/icon/technicalassumptions_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technicalassumptions_24
{
	background-image: url(/_theme/blue/icon/technicalassumptions_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technicalassumptions_32
{
	background-image: url(/_theme/blue/icon/technicalassumptions_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technicaldriversdata_16
{
	background-image: url(/_theme/blue/icon/technicaldriversdata_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technicaldriversdata_24
{
	background-image: url(/_theme/blue/icon/technicaldriversdata_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technicaldriversdata_32
{
	background-image: url(/_theme/blue/icon/technicaldriversdata_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technicaldrivers_16
{
	background-image: url(/_theme/blue/icon/technicaldrivers_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technicaldrivers_24
{
	background-image: url(/_theme/blue/icon/technicaldrivers_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technicaldrivers_32
{
	background-image: url(/_theme/blue/icon/technicaldrivers_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technical_16
{
	background-image: url(/_theme/blue/icon/technical_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technical_24
{
	background-image: url(/_theme/blue/icon/technical_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-technical_32
{
	background-image: url(/_theme/blue/icon/technical_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-typeofprices_16
{
	background-image: url(/_theme/blue/icon/typeofprices_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-typeofprices_24
{
	background-image: url(/_theme/blue/icon/typeofprices_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-typeofprices_32
{
	background-image: url(/_theme/blue/icon/typeofprices_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-user_16
{
	background-image: url(/_theme/blue/icon/user_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-user_24
{
	background-image: url(/_theme/blue/icon/user_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-user_32
{
	background-image: url(/_theme/blue/icon/user_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffbasecost_16
{
	background-image: url(/_theme/blue/icon/ziffbasecost_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffbasecost_24
{
	background-image: url(/_theme/blue/icon/ziffbasecost_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffbasecost_32
{
	background-image: url(/_theme/blue/icon/ziffbasecost_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffeconomicanalysis_16
{
	background-image: url(/_theme/blue/icon/ziffeconomicanalysis_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffeconomicanalysis_24
{
	background-image: url(/_theme/blue/icon/ziffeconomicanalysis_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffeconomicanalysis_32
{
	background-image: url(/_theme/blue/icon/ziffeconomicanalysis_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffreferences_16
{
	background-image: url(/_theme/blue/icon/ziffreferences_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffreferences_24
{
	background-image: url(/_theme/blue/icon/ziffreferences_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffreferences_32
{
	background-image: url(/_theme/blue/icon/ziffreferences_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffstructure_16
{
	background-image: url(/_theme/blue/icon/ziffstructure_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffstructure_24
{
	background-image: url(/_theme/blue/icon/ziffstructure_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-ziffstructure_32
{
	background-image: url(/_theme/blue/icon/ziffstructure_32.png) !important;
	background-repeat: no-repeat !important;
}
.icon-zifftechnicalanalysis_16
{
	background-image: url(/_theme/blue/icon/zifftechnicalanalysis_16.png) !important;
	background-repeat: no-repeat !important;
}
.icon-zifftechnicalanalysis_24
{
	background-image: url(/_theme/blue/icon/zifftechnicalanalysis_24.png) !important;
	background-repeat: no-repeat !important;
}
.icon-zifftechnicalanalysis_32
{
	background-image: url(/_theme/blue/icon/zifftechnicalanalysis_32.png) !important;
	background-repeat: no-repeat !important;
}