﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ERROR.aspx.cs" Inherits="CPM._ERROR" %>
<%@ Import Namespace="System.Threading" %>
<%@ Import Namespace="System.Globalization" %>

<script runat="server">
    protected override void InitializeCulture()
    {
        if (Session["MyUICulture"] != null && Session["MyCulture"] != null)
        {
            Thread.CurrentThread.CurrentUICulture = (CultureInfo)Session["MyUICulture"];
            Thread.CurrentThread.CurrentCulture = (CultureInfo)Session["MyCulture"];
        }
        base.InitializeCulture();
    }
</script>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ERROR</title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="vertical-align: middle; text-align: center;">
        <img src="/image/ERROR.png" /><br />
		<asp:Label ID="ErrMessage" runat="server" Text="..." Font-Size="XX-Large" Font-Bold="True" Font-Names="Arial"></asp:Label>
    </div>
    </form>
</body>
</html>
