﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="license_error.aspx.cs" Inherits="CPM._license_error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <p>License Error!!!</p>
    </div>
    </form>
</body>
</html>
